<app-header></app-header>
<div class="container">
  <div class="contact-us">
    <div class="contact-us__body">
      <div class="contact-us__title">
        mini<span class="contact-us__color">brocki.ch</span>
      </div>
      <div class="contact-us__image">
        <img
          class="contact-us__photo"
          src="../../../assets/images/update-info-bussines/company.png"
        />
        <div class="contact-us__text">
          Mio Software GmbH
        </div>
      </div>
      <div class="contact-us__image">
        <img
          class="contact-us__photo"
          src="../../../assets/images/filters/location icon.png"
        />
        <div class="contact-us__text">
          <strong>Route de la Plaine 28, 1580 Avenches, </strong>Switzerland
        </div>
      </div>
    </div>
    <div class="contact-images">
      <div class="contact-images contact-images--image">
        <img
          class="contact-images__picture"
          src="../../../assets/images/ad/icon phone.png"
        />
        <div class="contact-images__text">+41/27-923-88-88</div>
      </div>
      <div class="contact-images contact-images--image">
        <img
          class="contact-images__picture"
          src="../../../assets/images/ad/icon mail.png"
        />
        <div class="contact-images__text">
          <a
            class="contact-images__email"
            href="mailto:info@minibrocki.ch"
            target="_blank"
            rel="noopener noreferrer"
          >
            info@minibrocki.ch</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
