@import "../../../scss/variables";
@import "../../../scss/mixin.scss";

.container {
  background-color: $lightgrey;
  width: 100vw;
}

.contact-us {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;

  @include rwd(1600) {
    width: 985px;
  }
}
