<div class="guest-book">
    <form class="form" *ngIf="isLogin && userId !== sellerId" (ngSubmit)="onSubmit()" [formGroup]="ratingForm">
        <div class="form__heading">
            <div class="form__title">{{ 'translate.rateSeller' | translate }}:</div>
            <div class="form__rate">
                <nz-rate formControlName="rating"></nz-rate>
            </div>
            <div class="form__title">
                {{ 'translate.provideFeedback' | translate }}:
            </div>
        </div>
        <textarea maxlength="2000" class="form__textarea" formControlName="comment" rows="4"></textarea>
        <div class="button--submit">
            <button class="button" type="submit" [disabled]="ratingForm.invalid">
        {{ 'translate.submit' | translate }}
      </button>
        </div>
    </form>
    <div class="guest-book__comments" *ngFor="let comment of CommentsOfUser[0]">
        <div class="guest-book__name">{{ comment.authorName }}</div>
        <nz-rate [disabled]="comment.rate" [(ngModel)]="comment.rate"></nz-rate>
        <div class="guest-book__comment">{{ comment.comments }}</div>
        <div class="guest-book__line"></div>
    </div>
</div>