@import '../../../../scss/variables';
@import '../../../../scss/mixin.scss';

.guest-book {
  width: 1280px;
  height: auto;
  background-color: white;
  padding: 10px 50px 100px;
  margin-bottom: 30px;

  @include rwdm(1600) {
    width: 1280px;
  }

  @include rwd(1600) {
    width: 985px;
  }

  &__name {
    font-size: 20px;
    color: $black;
  }

  &__comments {
    padding: 5px 40px 0px 50px;
  }

  &__comment {
    padding: 0 0 5px;
    color: $text-gray;
  }

  &__line {
    background-color: $red;
    height: 1px;
    width: 100%;
    margin: 15px 0 0 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 40px;
  height: auto;

  &__heading {
    padding: 0 0 0 10px;
    margin: 0 0 10px 0;
  }

  &__rate {
    padding: 5px 0;
  }

  &__textarea {
    height: 220px;
    resize: none;
    padding: 5px 10px 5px 18px;
    font-size: 16px;
    color: $text-gray;
    border: 1px solid $border-gray;
  }

  &__title {
    font-size: 17px;
  }
}

.rate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
  height: 250px;
  justify-content: space-evenly;
}

textarea {
  border-radius: 10px;
  border-color: $darkgrey;
  outline: none;
}

.button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  button {
    background-color: $red;
    height: 35px;
    width: 15%;
    border: 1px solid;
    border-radius: 15px;
    color: white;
    font-size: 17px;
    margin: 20px 0 0 30px;
    cursor: pointer;
  }
}
