@import "../../../scss/variables";



.container {
  width: 100vw;
  height: auto;
  background-color: $lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;

  .forgotPasswordContainer {
    width: 1000px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
  }
}



span {
  display: flex;
justify-content: center;
padding-bottom: 20px;
    font-size: 24pt;
}

.input {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.button {
  margin-top: 20px;
  background-color: $red;
  height: 35px;
  width: 20%;
  border: 1px solid;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  cursor: pointer;

  &:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
  }

}

input {
  height: 25px;
  border: 1px solid darkgray;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 20px;
  width: 86%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

img {
  margin-right:10px;
}



