<app-header class="header" #header></app-header>
<div class="container">
  <div class="imageContainer">
    <div class="imageGallery">
      <!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" ></p-galleria> -->
      <ngx-gallery
        [options]="galleryOptions"
        [images]="galleryImages"
      ></ngx-gallery>
    </div>
  </div>
  <div class="socialMedia">
    <div style="width: 10%;">
      <label>{{ 'translate.shareVia' | translate }}:</label>
    </div>
    <div class="social">
      <div class="socialButton" [socialShare]="'tw'">
        <img src="../../../assets/images/ad/logoOne.png" /> Twitter
      </div>

      <div class="socialButton" [socialShare]="'fb'">
        <img src="../../../assets/images/ad/logoTwo.png" /> Facebook
      </div>

      <div class="socialButton" (click)="copyLink()">
        <img src="../../../assets/images/ad/logoThree.png" />{{'translate.copyLink' | translate}}
      </div>
    </div>
  </div>
  <div class="title">
    <label style="font-size: 16pt;">{{ ad?.productName }}</label>
  </div>
  <div class="info">
    <div class="left">
      <div class="card">
        <div class="cardColumn">{{ ad?.price }} CHF</div>
        <div class="cardColumn">{{ ad?.adsType }}</div>
        <div class="cardColumn">{{ userSeller?.city }}</div>
        <div class="cardColumn2">{{ ad?.adsDate | date }}</div>
      </div>
    </div>
    <div class="right">
      <div class="profile">
        <img
          src="../../../assets/images/myAccount/profile-picture.png"
          [routerLink]="['/seller', userSellerId]"
          pTooltip="{{'translate.clickHereToSeeSellersInfo' | translate}}!"
          tooltipPosition="top"
          style="cursor: pointer;"
        />
        <label>{{ userSeller?.name }}</label>
      </div>
      <div class="contact">
        <div class="phone">
          <img
            src="../../../assets/images/ad/icon phone.png"
            *ngIf="userSeller?.phone || userSeller?.mobile"
          />
          <div class="numbers">
            <label>{{ userSeller?.phone }}</label>
            <label>{{ userSeller?.mobile }}</label>
          </div>
        </div>
        <div class="mail">
          <img
            src="../../../assets/images/ad/icon mail.png"
            *ngIf="userSeller?.email"
            style="cursor: pointer;"
          />
          <label>{{ userSeller?.email }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="des">
    <div class="description">
      <label>{{ 'translate.description' | translate }}</label>
      <div>
        <label style="color: black;">{{ ad?.description }}</label>
      </div>
    </div>
  </div>
  <div class="articles">
    <label>{{ 'translate.allArticlesOfThisSeller' | translate }}</label>
    <div class="bodySuggestions">
      <div class="cards">
        <p-carousel [value]="adsByUser" [numVisible]="3" [numScroll]="1">
          <ng-template let-adByUser pTemplate="item">
            <div
              style="
                width: 80%;
                height: 100%;
                padding: '5px';
                background-color: #f6f6f6;
                padding: 10px !important;
              "
            >
              <div
                style="background-color: white; cursor: pointer; padding: 10px;"
                class="cardHover"
              >
                <div class="image" (click)="getNewAd(adByUser.id)">
                  <img src="Card" [src]="adByUser.image[0]" />
                </div>
                <div class="cardBody" [routerLink]="['/ad', adByUser.id]">
                  <div class="bodyLabel">
                    <label style="font-size: 20px; font-weight: bolder;">{{
                      adByUser.productName
                    }}</label>
                  </div>
                  <div class="adLine"></div>
                  <div class="description">
                    <label style="font-size: 12px;">{{
                      adByUser.description
                    }}</label>
                  </div>
                </div>
                <div class="footer">
                  <div class="pricetag">
                    <label>{{ adByUser.price }} CHF</label>
                  </div>
                  <div>
                    <mat-icon
                      *ngIf="!token"
                      pTooltip="Please login before adding this ad to favorite section!"
                      tooltipPosition="bottom"
                      aria-label="Example icon-button with a heart icon"
                    >
                      favorite_border
                    </mat-icon>
                     <button
                      mat-icon-button
                      (click)="adByUser.favourite = !adByUser.favourite"
                      *ngIf="token"
                    >
                      <mat-icon
                        *ngIf="adByUser.favourite"
                        (click)="removeFromWishlist(adByUser.id)"
                        aria-label="Example icon-button with a heart icon"
                      >
                        favorite
                      </mat-icon>
                      <mat-icon
                        *ngIf="!adByUser.favourite"
                        (click)="addToWishlist(adByUser.id)"
                        aria-label="Example icon-button with a heart icon"
                      >
                        favorite_border
                      </mat-icon>
                    </button>
                  </div>
                  <span style="color: black;">{{
                    adByUser.adsDate | date
                  }}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <label>{{ 'translate.similarProducts' | translate }}:</label>
    <div class="bodySuggestions">
      <div class="cards">
        <p-carousel [value]="adsByUser" [numVisible]="3" [numScroll]="1">
          <ng-template let-adByCat pTemplate="item">
            <div
              style="
                width: 80%;
                height: 100%;
                padding: '5px';
                background-color: #f6f6f6;
                padding: 10px !important;
              "
            >
              <div
                style="background-color: white; cursor: pointer; padding: 10px;"
                class="cardHover"
              >
                <div class="image" (click)="getNewAd(adByCat.id)">
                  <img src="Card" [src]="adByCat.image[0]" />
                </div>
                <div class="cardBody" [routerLink]="['/ad', adByCat.id]">
                  <div class="bodyLabel">
                    <label style="font-size: 20px; font-weight: bolder;">{{
                      adByCat.productName
                    }}</label>
                  </div>
                  <div class="adLine"></div>
                  <div class="description">
                    <label style="font-size: 12px;">{{
                      adByCat.description
                    }}</label>
                  </div>
                </div>
                <div class="footer">
                  <div class="pricetag">
                    <label>{{ adByCat.price }} CHF</label>
                  </div>
                  <div>
                    <mat-icon
                      *ngIf="!token"
                      pTooltip="Please login before adding this ad to favorite section!"
                      tooltipPosition="bottom"
                      aria-label="Example icon-button with a heart icon"
                    >
                      favorite_border
                    </mat-icon>
                     <button
                      mat-icon-button
                      (click)="adByCat.favourite = !adByCat.favourite"
                      *ngIf="token"
                    >
                      <mat-icon
                        *ngIf="adByCat.favourite"
                        (click)="removeFromWishlist(adByCat.id)"
                        aria-label="Example icon-button with a heart icon"
                      >
                        favorite
                      </mat-icon>
                      <mat-icon
                        *ngIf="!adByCat.favourite"
                        (click)="addToWishlist(adByCat.id)"
                        aria-label="Example icon-button with a heart icon"
                      >
                        favorite_border
                      </mat-icon>
                    </button>
                  </div>
                  <span style="color: black;">{{
                    adByCat.adsDate | date
                  }}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>
