<div class="container">
    <div class="firstContainer">
        <div><img src="assets/images/footer/line 2px.png" /></div>
        <div class="leftContainer">
            <span class="text" (click)="goTo('/ad')">{{'translate.home' | translate}}</span>
            <span class="text" (click)="goTo('/user')">{{'translate.myAccount' | translate}}</span>
            <span class="text">{{'translate.aboutUs' | translate}}</span>
            <span class="text">{{'translate.contactUs' | translate}}</span>
        </div>
    </div>
    <div class="secondContainer">
        <div class="first">
            <span><img src="assets/images/footer/minibrocki logo footer.png" /></span>
        </div>
        <div class="second">
            <span class="img"><img src="assets/images/footer/facebook.png" /></span>
            <span class="img"><img src="assets/images/footer/instagram.png" /></span>
            <span class="img"><img src="assets/images/footer/linkedin.png" /></span>
            <span class="img"><img src="assets/images/footer/youtube.png" /></span>
        </div>
        <div class="third">
            <span>{{'translate.copyrightOne' | translate}}</span>
            <span>{{'translate.copyrightTwo' | translate}}<span style="color: #d62b1f;">{{'translate.copyrightThree' | translate}}</span></span>
        </div>
    </div>
    <div class="thirdContainer">
        <div class="textContainer">
            <span>{{'translate.minibrockiDescriptionOne' | translate}}
        <span style="color: #d62b1f; cursor: pointer;">{{'translate.minibrockiDescriptionTwo' | translate}}</span>{{'translate.minibrockiDescriptionThree' | translate}}
            </span>
            <span class="email"><img src="assets/images/footer/mail icon.png" />
        <span> &nbsp;info@minibrocki.com</span>
            </span>
        </div>
    </div>
</div>
