<app-header *ngIf="!reviewCard" class="header"></app-header>
<div *ngIf="!reviewCard" class="container">
  <div class="accept-ads">
    <div class="accept-ads__title">
      {{ 'translate.acceptAds' | translate }}
    </div>
    <div *ngIf="!message" class="message">No Ads for review</div>
    <div class="wrapper-card" *ngIf="message">
      <div
        class="card"
        *ngFor="let card of readyForReviewAds[0]; let i = index"
      >
        <div class="cardHover">
          <div style="width: 270px;" (click)="SingleAd(card)">
            <img class="card__image" [src]="card.image[0]" />
          </div>
          <div class="card__name">{{ card.productName }}</div>
          <hr class="card__line" />
          <div class="card__description">{{ card.description }}</div>
          <div class="card__footer">
            <div class="card__price">{{ card.price | number: '.2-2' }} CHF</div>
            <div class="card__date">{{ card.adsDate | date }}</div>
          </div>
          <div class="card__buttons">
            <button class="card__accept" (click)="acceptAds(card, i)">
              {{ 'translate.accept' | translate }}
            </button>
            <button class="card__decline" (click)="declineAds(card, i)">
              {{ 'translate.reject' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-ad *ngIf="reviewCard" [card]="card"></app-ad>
