@import "../../../scss/variables";

* {
  color: $darkgrey;
  outline: none;
}

.container {
  padding-top: 50px;
  width: 100vw;
  background-color: $lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;

  .underContainer {
    width: 1000px;
    display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 24pt;
  }
  }
}


input {
  height: 25px;
  border: 1px solid darkgray;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 20px;
}




.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:500px;

  button {
    background-color: $lightgrey;
    height: 35px;
    width: 20%;
    border: 1px solid;
    border-radius: 15px;
    color: $darkgrey;
    font-size: 17px;
    outline: none;
    width: 30%;


    cursor: pointer;
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 500px;
}

.selected {
  background-color: $red !important;
  color: white !important;
}

.deselected {
background-color: $lightgrey !important;
color: $darkgrey !important;
}

.clearfix {
  border: 1px solid;
    border-radius: 15px;
    border-color: darkgray;
    padding: 10px;
    background-color: white;
}

.confirmButton {
  background-color: $red;
  height: 35px;
  width: 15%;
  border: 1px solid;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  margin-left: 30px;
  cursor: pointer;

  &:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
  }
}

.titleAd {
  display: flex;
  flex-direction: column;
  width: 50%;

  input {
    height: 35px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.price {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
  input {
  width: 50%;
  height: 35px;

  }
}

.imageDiv {
display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: darkgray;
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid darkgray;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 20px;
}

.credit {

  display: flex;
  flex-direction: row;
  margin-right: 28%;
  align-items: center;

  img {

  }

}

.creditCount {
  width: auto;
    padding-right: 10px;
    padding-left: 10px;
  background-color: #f6f6f6;
  height: 35px;
  border: 1px solid;
  border-radius: 15px;
  color: #4d4d4d;
  font-size: 17px;
  outline: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left:10px;
}

.checkbox {
margin-bottom: 20px;

span {
  margin-left:10px ;
}
}

.form-group {
  width: 50%;

  select {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-color: gray;
    border-radius: 15px;
    padding-left: 5px;
    font-size: large;
  }
}
