<div class="container">
  <div class="create">
    <div class="create__ad-title">
      <div class="create__title">
        {{ 'translate.createAd' | translate }}
      </div>
    </div>
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="createForm">
      <div class="form__input">
        <label class="form__label">{{ 'translate.title' | translate }}:</label>
        <div>
          <input formControlName="productName" maxLength="50" />
        </div>
      </div>
      <div class="form__input">
        <label class="form__label"
          >{{ 'translate.description' | translate }}:</label
        >
        <div>
          <textarea
            maxLength="2000"
            class="form__textarea"
            formControlName="description"
          ></textarea>
        </div>
      </div>
      <div class="form__input form__input--first">
        <label class="form__label"
          >{{ 'translate.category' | translate }}:</label
        >
        <input
          class="form__select"
          formControlName="category"
          placeholder="{{ 'translate.typeCategory' | translate }} ..."
          type="text"
          #category
          (keyup)="searchCategory(category.value)"
          (click)="toggleCategoryDropdown()"
          (clickOutside)="toggleCategory = false"
          (click)="subcategory.value = ''"
        />
        <div class="form__selectDropdown" *ngIf="toggleCategory">
          <div *ngIf="filteredCategory.length === 0">
            <div
              class="form__dropdownCategory"
              *ngFor="let category of categories"
              (click)="categorySearch(category.groupName[currentLang])"
            >
              {{ category.groupName[currentLang] }}
            </div>
          </div>
          <div *ngIf="filteredCategory.length !== 0">
            <div
              class="form__dropdownCategory"
              *ngFor="let category of filteredCategory"
              (click)="categorySearch(category.groupName[currentLang])"
            >
              {{ category.groupName[currentLang] }}
            </div>
          </div>
        </div>
        <div
          class="form__categoryButton"
          (click)="listCategory()"
          (clickOutside)="toggleListCategory = false"
          (click)="subcategory.value = ''"
        >
          List
        </div>
        <div class="form__categoryList" label="List" *ngIf="toggleListCategory">
          <div
            class="form__option"
            *ngFor="let category of categories"
            (click)="findCategory(category)"
          >
            {{ category.groupName[currentLang] }}
          </div>
        </div>
      </div>
      <div class="form__input form__input--second">
        <label class="form__label"
          >{{ 'translate.subcategory' | translate }}:</label
        >
        <input
          formControlName="subcategory"
          type="text"
          placeholder="{{ 'translate.typeSubcategory' | translate }} ..."
          class="form__select"
          #subcategory
          name="subcategory"
          (keyup)="searchSubcategory(subcategory.value)"
          (click)="toggleSubcategoryDropdown()"
          (clickOutside)="toggleSubcategory = false"
        />

        <div *ngIf="subcategories.length !== 0">
          <div *ngIf="filteredSubcategory.length === 0">
            <div class="form__selectDropdown" *ngIf="toggleSubcategory">
              <div
                *ngFor="let subcategory of subcategories"
                class="form__dropdownCategory"
                (click)="
                  subcategorySearch(subcategory.subGroupName[currentLang])
                "
              >
                {{ subcategory.subGroupName[currentLang] }}
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="filteredSubcategory.length !== 0">
          <div class="form__selectDropdown" *ngIf="toggleSubcategory">
            <div
              *ngFor="let subcategory of filteredSubcategory"
              class="form__dropdownCategory"
              (click)="subcategorySearch(subcategory.subGroupName[currentLang])"
            >
              {{ subcategory.subGroupName[currentLang] }}
            </div>
          </div>
        </div>

        <div
          class="form__categoryButton"
          type="button"
          (click)="listSubcategory()"
          (clickOutside)="toggleListSubcategory = false"
          [ngClass]="{ noCategory: subcategories.length === 0 }"
        >
          List
        </div>
        <div *ngIf="subcategories.length !== 0">
          <div
            formControlName="tags"
            class="form__subcategoryList"
            ngDefaultControl
            *ngIf="toggleListSubcategory"
          >
            <div
              class="form__option"
              *ngFor="let subcategory of subcategories"
              (click)="findsubcategory(subcategory)"
            >
              {{ subcategory.subGroupName[currentLang] }}
            </div>
          </div>
        </div>
      </div>
      <label class="form__label">{{ 'translate.tags' | translate }}:</label>
      <div class="form__buttons">
        <div
          style="margin: 0 20px 15px 0"
          *ngFor="let tag of tags$ | async; let i = index"
        >
          <div
            class="form__tag"
            [ngClass]="{ active: clickedTags.includes(tag) }"
            (click)="chosenTag(tag)"
          >
            {{ tag.name[currentLang] }}
          </div>
        </div>
      </div>
      <div class="form__input">
        <label class="form__label form__label--equal"
          >{{ 'translate.adPictures' | translate }}:</label
        >
        <div
          class="form__picture"
          cdkDropList
          (cdkDropListDropped)="onDrop($event)"
        >
          <div
            cdkDrag
            class="form__upload--image"
            *ngFor="let photo of photos; let i = index"
          >
            <div class="form__index">{{ i + 1 }}</div>
            <div>
              <img [src]="photo" class="form__image" />
            </div>
            <div class="form__delete" (click)="deletePhoto(i)">
              <label class="form__delete-label">{{
                'translate.deletePhoto' | translate
              }}</label>
            </div>
          </div>
          <div class="form__svg" *ngIf="photos.length < 6">
            <div
              class="form__svg--image"
              [inlineSVG]="
                '../../../assets/images/update-info-bussines/add-photo.svg'
              "
            ></div>
            <div>
              <input
                formControlName="image"
                class="form__upload--image form__upload--image--image-input"
                (change)="uploadImage($event)"
                accept="image/*"
                type="file"
                multiple="multiple"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="form__input">
        <label class="form__label">{{ 'translate.price' | translate }}:</label>
        <div class="form__price">
          <input
            placeholder="0.00"
            step="0.01"
            class="form__input form__input--price"
            formControlName="price"
            type="text"
            NumberOnly
          />
          <p class="form__currency">CHF</p>
        </div>
      </div>
      <div class="form__token">
        <label class="form__label"
          >{{ 'translate.adWillBreCharged' | translate }}:</label
        >
        <div class="form__credit">
          <img src="../../../assets/images/credits icon.png" />
          <div class="form__creditCount">
            <span style="color: #8c8c8c"
              >0 {{ 'translate.credits' | translate }} - ({{
                'translate.freeMonths' | translate
              }})
            </span>
          </div>
        </div>
      </div>
      <div class="form__input">
        <button
          class="button"
          type="submit"
          appDebounceClick
          [debounceTime]="700"
          (debounceClick)="log()"
        >
          {{ 'translate.postAd' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
