@import '../../../scss/variables';
@import '../../../scss/mixin.scss';
* {
  height: 120px;
  color: $darkgrey;
  font-size: 20pt;
  font-family: $header-font-family;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  @include rwd(1600) {
    width: 985px;
  }
  .firstContainer {
    width: 33%;
    display: flex;
    flex-direction: row;
    .createAd {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
  .secondContainer {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      height: 65px;
    }
  }
  .thirdContainer {
    width: 33%;
    display: flex;
    flex-direction: column;
    .languageFlags {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 25px;
      .flags {
        width: 24px;
        height: 20px;
        padding-left: 10px;
        padding-top: 5px;
        &:hover {
          -ms-transform: scale(1.5);
          /* IE 9 */
          -webkit-transform: scale(1.5);
          /* Safari 3-8 */
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
    .account {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 75%;
      .accountAd {
        height: 85px;
      }
      .accountLogo {
        width: 50px;
        height: 40px;
      }
      span {
        align-items: center;
        display: flex;
        &:hover {
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}

.addImage {
  display: flex;
  align-items: center;
  .image {
    width: 50px;
    height: 50px;
    &:hover {
      -ms-transform: scale(1.5);
      /* IE 9 */
      -webkit-transform: scale(1.5);
      /* Safari 3-8 */
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    .mat-button-wrapper {
      height: 100%;
    }

}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  button {
    height: 100%;
    color: black;
    font-size: xx-large;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: auto;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 260px;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.show {
  display: block;
}
