<div class="container" *ngIf="!hideFilter">
  <div class="underContainer">
    <span class="title" style="padding-bottom: 40px">{{
      'translate.filters' | translate
    }}</span>
    <!-- <div class="location" style="padding-bottom: 25px">

      <img src="../../../assets/images/filters/location icon.png" />
      <select
        name="contactMethod"
        class="form-control"
        (change)="getCanton($event)"
      >
        <option [value]="" selected disabled>
          {{ 'translate.allCantons' | translate }}
        </option>
        <option *ngFor="let region of cantons">
          {{ region }}
        </option>
      </select>
    </div> -->
    <div class="location" style="padding-bottom: 25px">
      <img src="../../../assets/images/filters/location icon.png" />
      <input
        type="text"
        [(ngModel)]="location"
        class="form-control"
        placeholder=" {{ 'translate.location' | translate }}"
      />
    </div>
    <div class="location" style="padding-bottom: 25px">
      <img src="../../../assets/icon3 2.png" />
      <select
        name="contactMethod"
        class="form-control"
        (change)="findCategory($event)"
      >
        <option value="">
          {{ 'translate.selectCategory' | translate }}
        </option>
        <option *ngFor="let category of categoriesGroup" [value]="category.id">
          {{ category.groupName[currentLang] }}
        </option>
      </select>
    </div>
    <div class="location" style="padding-bottom: 25px">
      <img src="../../../assets/icon3 2.png" />
      <select
        name="contactMethod"
        class="form-control"
        (change)="findSubCategory($event)"
      >
        <option value="">
          {{ 'translate.selectSubCategory' | translate }}
        </option>
        <option
          *ngFor="let subCategory of subCategoriesGroup"
          [value]="subCategory.id"
        >
          {{ subCategory.subGroupName[currentLang] }}
        </option>
      </select>
    </div>
    <form class="manualAmount" [formGroup]="filterForm">
      <div class="manualAmount__block">
        <div class="manualAmount__value">min</div>
        <div>
          <input
            class="manualAmount__input"
            formControlName="minPrice"
            #min
            (keyup)="minPrice($event, min.value)"
            type="number"
            onKeyPress="if(this.value.length==12) return false;"
            placeholder="0"
          />
        </div>
      </div>
      <div class="manualAmount__block manualAmount__block--end">
        <div class="manualAmount__value">max</div>
        <div>
          <input
            class="manualAmount__input"
            formControlName="maxPrice"
            #max
            (keyup)="maxPrice($event, max.value)"
            type="number"
            onKeyPress="if(this.value.length==12) return false;"
            placeholder="999999999999"
          />
        </div>
      </div>
    </form>
    <!-- <div class="amount" style="padding-bottom: 25px">
      <ng5-slider
        [(value)]="fromPrice"
        [(highValue)]="toPrice"
        [options]="options"
      ></ng5-slider>
    </div> -->
    <button
      class="button filter-btn"
      style="margin-bottom: 50px"
      (click)="confirmButton()"
    >
      {{ 'translate.confirm' | translate }}
    </button>
  </div>
  <nz-alert
    nzType="error"
    [nzMessage]="errorMessage"
    nzShowIcon
    *ngIf="error"
    style="margin-bottom: 25px"
  ></nz-alert>
</div>
<app-filters-ads
  *ngIf="hideFilter"
  [ads]="fillAds"
  [filterAd]="filterAd"
></app-filters-ads>
