<div class="container">
  <div class="message" *ngIf="comments === true">
    <div class="message__text">{{ 'translate.noComments' | translate }}</div>
  </div>
  <div class="wrapper" *ngIf="comments === false">
    <div class="card" *ngFor="let comment of guestBook[0]">
      <div class="card__title">{{ comment.authorName }}</div>
      <nz-rate [(ngModel)]="comment.rate" nzDisabled></nz-rate>
      <div class="card__comment">{{ comment.comments }}</div>
      <hr />
    </div>
  </div>
</div>
