<app-header class="header"></app-header>
<div class="container">
  <section class="pricing">
    <div class="pricing__title">
      {{'translate.pricingList' | translate }}
    </div>
    <div class="pricing__subtitle-text">
      <div class="pricing__subtitle">{{'translate.pricingOne' | translate}}:</div>
      {{'translate.pricingTwo' | translate}}<br />
      {{'translate.pricingThree' | translate}}<br />
      <strong>
        {{'translate.pricingFour' | translate}}
      </strong>
    </div>
    <div class="pricing__image-box">
      <div
        class="pricing__image pricing__image--b2b"
        [inlineSVG]="'../../../assets/images/pricing-list/b2b.svg'"
      ></div>
    </div>
    <div class="pricing__text">
      <div class="pricing__second-subtitle">B2B</div>
      <div>
        <p>
          {{'translate.pricingFive' | translate}}<br />
        </p>
        {{'translate.pricingSix' | translate}}
      </div>
    </div>
    <div class="pricing__image-box">
      <div class="pricing__image">
        <img src="../../../assets/images/pricing-list/tips.svg" />
      </div>
    </div>
    <div class="pricing__text pricing__text--padding">
      <div class="pricing__second-subtitle">{{'translate.pricingSeven' | translate }}</div>
      <p>
        <em>
          - {{'translate.pricingEight' | translate }}
        </em>
      </p>
      <p>
        <em>
          - {{'translate.pricingNine' | translate }}
        </em>
      </p>
      <p>
        <em>
          - {{'translate.pricingTen' | translate }}
        </em>
      </p>
      <p>
        <em>
          - {{'translate.pricingEleven' | translate }}
        </em>
      </p>
    </div>
  </section>
</div>
