<div class="container">
  <span style="font-size: 24pt;">
    Pricing <span class="list">list</span>
  </span>
  <div class="box">
    <span>
      Objects or products till
    </span>
    <span class="amount">4.95 CHF it's free</span>
  </div>
  <div class="box">
    <span>
      5.00 CHF till 9.95 CHF
    </span>
    <span class="amount">costs 0.50 CHF</span>
  </div>
  <div class="box">
    <span>
      10.00 CHF till 19.95 CHF
    </span>
    <span class="amount">costs 1.00 CHF</span>
  </div>
  <div class="box">
    <span>
      20.00 CHF till 49.95 CHF
    </span>
    <span class="amount">costs 2.00 CHF</span>
  </div>
  <div class="box">
    <span>
      50.00 CHF till 99.95 CHF
    </span>
    <span class="amount">costs 5.00 CHF</span>
  </div>
  <div class="box">
    <span>
      100.00 CHF till 199.95 CHF
    </span>
    <span class="amount">costs 10.00 CHF</span>
  </div>
  <div class="box">
    <span>
      200.00 CHF till 499.95 CHF
    </span>
    <span class="amount">costs 20.00 CHF</span>
  </div>
  <div class="box">
    <span>
      500.00 CHF till 999.95 CHF
    </span>
    <span class="amount">costs 50.00 CHF</span>
  </div>
  <div class="box">
    <span>
      1000.00 CHF till unlimited
    </span>
    <span class="amount">costs 100.00 CHF</span>
  </div>
</div>
