<app-header class="header"></app-header>
<div class="container">
  <section class="pricing">
    <div class="pricing__title">
      Pricing <span class="pricing__list">list</span>
    </div>
    <div class="pricing__subtitle-text">
      <div class="pricing__subtitle">Gebühren:</div>
      Das inserieren und Einstellen von Angeboten bis 9.95 CHF Warenwert sind
      gratis.<br />
      Für alle Angebote ab 10.-CHF Warenwert verrechnen wir nun 5% des
      Verkaufspreises.<br />
      <strong>
        Das Verzeichnis (Mitgliedschaft) und das Profil sind kostenlos.
      </strong>
    </div>
    <div class="pricing__image-box">
      <div
        class="pricing__image pricing__image--b2b"
        [inlineSVG]="'../../../assets/images/pricing-list/b2b.svg'"
      ></div>
    </div>
    <div class="pricing__text">
      <div class="pricing__second-subtitle">B2B</div>
      <div>
        <p>
          Minibrocki.ch dient ihnen auch als Firmen-Verzeichnis damit Sie sich
          mit gleichdenkenden Menschen in Verbindung bringen können.<br />
          Gemeinsam können wir Projekte und Events gestalten und diese auf
          minibrocki.ch publizieren. Damit möglichst viele menschen vom<br />
          nachhaltigen Denken inspiriert werden.<br />
        </p>
        Zögern Sie nicht uns mit in ihre Projekte ein zu beziehen, gemeinsam
        können wir Newsletter, Flyer, Postversand, SozialMedia und<br />
        viele andere Publikationskanäle gestalten uns organisieren. Schreiben
        Sie uns auf projektleitung@minibrocki.ch.
      </div>
    </div>
    <div class="pricing__image-box">
      <div class="pricing__image">
        <img src="../../../assets/images/pricing-list/tips.svg" />
      </div>
    </div>
    <div class="pricing__text pricing__text--padding">
      <div class="pricing__second-subtitle">Tipps</div>
      <p>
        <em>
          - Wohnt der interessent in der gleichen Stadt? Für die Bezahlung und
          Übergaben locken die Interessenten am besten in Ihr Geschäft.
        </em>
      </p>
      <p>
        <em>
          - Klicken Sie Bei Ihrem inserierten Artikel auf &#8810;Rechnung
          verschicken&#8811;, Fügen Sie die E-mail-Adresse des Käufers ein und
          schreiben Sie den endgültigen Preis der bezahlt werden soll.
        </em>
      </p>
      <p>
        <em>
          - Schicken Sie die Rechnung per E-Mail (PatPal, Twint, Rechnung) order
          Post und sobald der Artikel bezahlt wurde, reservieren oder versenden
          Sie diesen.
        </em>
      </p>
      <p>
        <em>
          - Versenden Sie Nichts ohne dass Sie davor das Geld erhalten haben.
        </em>
      </p>
    </div>
  </section>
</div>
