<app-ad-single-carousel [favAds]="favAds" [userId]="userId" [favoriteNumber]="numberOfFavorites"></app-ad-single-carousel>
<div class="container">
    <div class="advertise">
        <img src="../../../assets/images/banner1.jpg" routerLink="/contact-us" style="cursor: pointer" />
    </div>
    <div class="siteButtons">
        <!-- <button class="siteButton">Around me</button> -->
        <button class="siteButton" pTooltip="{{ 'translate.willBeAvailableSoon' | translate }}" tooltipPosition="top">
      {{ 'translate.freshlyAdvertised' | translate }}
    </button>
        <button class="siteButton" pTooltip="{{ 'translate.willBeAvailableSoon' | translate }}" tooltipPosition="top">
      {{ 'translate.unused' | translate }}
    </button>
        <button class="siteButton" pTooltip="{{ 'translate.willBeAvailableSoon' | translate }}" tooltipPosition="top">
      {{ 'translate.mostWanted' | translate }}
    </button>
    </div>
</div>
<div class="suggestions">
    <span class="suggText">
    {{ 'translate.suggestionsForYou' | translate }}:</span
  >
  <div class="bodySuggestions2">
    <app-ads-card-carousel
      [randomAds]="randomAdsA"
      [userId]="userId"
      [favoriteNumber]="numberOfFavorites"
    ></app-ads-card-carousel>
  </div>
  <div class="bodySuggestions2" style="margin-bottom: 50px">
    <app-ads-card-carousel
      [randomAds]="randomAdsB"
      [userId]="userId"
      [favoriteNumber]="numberOfFavorites"
    ></app-ads-card-carousel>
    <div class="ads" id="Ads" #panel>
      <div class="line"></div>
      <div class="ads__body">
        <div class="ads__line--card">
          <app-ads-card-detail
            [ads]="favAds"
            (addWishlist)="addToWishlist($event)"
            (removeWishlist)="removeFromWishlist($event)"
            class="ads__favorite--ads"
          ></app-ads-card-detail>
        </div>
      </div>
    </div>
    <div class="increaseButtonClass" *ngIf="disableButton">
      <button class="show--more" mat-button (click)="increaseShow()">
        {{ 'translate.showMore' | translate }}
      </button>
</div>
</div>
</div>