<div class="container">
  <div class="mainContainer">
    <div (click)="pre()">
      <img src="../../../../assets/images/buttons/arrow round left.png">
    </div>
    <div class="carousel">
    <nz-carousel [nzEffect]="'fade'" nzArrows="true" nzDots="false">

  <div nz-carousel-content *ngFor="let ad of ads" >
    <div class="containers" [routerLink]="['/ad',ad.id]">
      <div class="leftContainer">
        <img [src]="ad.image[0]">
      </div>
      <div class="rightContainer">
        <div class="title">
          <span style="color: black;font-size: 16pt;">{{ad.productName}}</span>
        </div>

        <div class="text">
        <label style="color: #4d4d4d;line-height: normal;">{{ad.description}}</label>
        </div>
        <div class="price">
          <div class="pricetag"><label >{{ad.price}} CHF</label></div>
          <span style="color: black;">{{ad.adsDate | date}}</span>
        </div>
      </div>
    </div>
  </div>
</nz-carousel>
</div>
<div (click)="next()"><img src="../../../../assets/images/buttons/arrow round right.png"></div>
</div>
</div>
