@import "../../../scss/variables";

.container {
  padding: 50px 0 100px 0;
  width: 100vw;
  height: 784px;
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
}
.main-container {
  width: 550px;
  margin: 0 auto;
}

::placeholder {
  color: $text-gray;
}

.form {
  text-align: center;
}

.title {
  padding: 0 0 50px 0;
  text-align: center;
}

.error {
  position: relative;

  &__msg {
    position: absolute;
    left: 208px;
    color: $red;
  }
}
.inputItem {
  margin-bottom: 40px;
  height: 40px;

  input {
    width: 440px;
    height: 40px;
    border: 1px solid $border-gray;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 17px;
    margin-left: 10px;
    padding: 15px 15px;
    color: $text-gray;
  }

  label {
    padding-right: 20px;
  }
}
.btn {
  text-align: center;
  margin: 50px 0 0 0;
}

.title {
  font-size: 24pt;
}

button {
  background-color: #d62b1f;
  height: 35px;
  border: 1px solid;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  width: 185px;
  margin: 20px 0 0 30px;

  &:disabled {
    cursor: default;
    &:hover {
      -ms-transform: scale(1); /* IE 9 */
      -webkit-transform: scale(1); /* Safari 3-8 */
      transform: scale(1);
    }
  }

  &:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
  }
}
