<app-header class="header"></app-header>
<div class="container">
  <div class="main-container">
    <div class="title">
      <span class="title" style="padding-bottom: 40px;"
        >{{ 'translate.change' | translate }}
        <span style="color: #d62b1f; text-transform: lowercase;">{{
          'translate.password' | translate
        }}</span></span
      >
    </div>
    <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/Password.png" />
        <input
          placeholder="{{ 'translate.currentPassword' | translate }}"
          formControlName="oldPassword"
        />
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/Password.png" />
        <input
          placeholder="{{ 'translate.newPassword' | translate }}"
          formControlName="newPassword"
        />
        <div
          class="error"
          *ngIf="
            changePasswordForm.controls.reTypePassword.value !==
            changePasswordForm.controls.newPassword.value
          "
        >
          <span class="error__msg"
            >{{ 'translate.freeDelivery' | translate }}!</span
          >
        </div>
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/Password.png" />
        <input
          placeholder="Re-type new password"
          formControlName="reTypePassword"
        />
        <div
          class="error"
          *ngIf="
            changePasswordForm.controls.reTypePassword.value !==
            changePasswordForm.controls.newPassword.value
          "
        >
          <span class="error__msg"
            >{{ 'translate.freeDelivery' | translate }}!</span
          >
        </div>
      </div>
      <div class="btn">
        <button
          type="submit"
          [disabled]="
            changePasswordForm.invalid ||
            changePasswordForm.controls.reTypePassword.value !==
              changePasswordForm.controls.newPassword.value
          "
        >
          {{ 'translate.submit' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
