<div class="container">
  <span class="title" style="padding-bottom: 40px;">Change <span style="color: #d62b1f;">password</span></span>
  <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/Password.png">
        <input placeholder="Current Password" [(ngModel)]="password"/>
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/Password.png">
        <input placeholder="New Password" [(ngModel)]="newPassword"/>
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/Password.png">
        <input placeholder="Re-type new password" [(ngModel)]="reTypePassword"/>
    </div>
    <nz-alert nzType="error" nzMessage={{errorMessage}} nzShowIcon *ngIf="errorBoolean" style="margin-bottom: 20px; margin-left: 1.5%;"></nz-alert>
    <button (click)="submit()">Submit</button>
</div>
