<app-header class="header"></app-header>
<div class="container">
  <div class="main-container">
    <div class="title">
      <span class="title" style="padding-bottom: 40px;"
        >Change <span style="color: #d62b1f;">password</span></span
      >
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/Password.png" />
        <input placeholder="Current Password" formControlName="oldPassword" />
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/Password.png" />
        <input placeholder="New Password" formControlName="newPassword" />
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/Password.png" />
        <input
          placeholder="Re-type new password"
          formControlName="reTypePassword"
        />
      </div>
      <nz-alert
        nzType="error"
        nzMessage="{{ errorMessage }}"
        nzShowIcon
        *ngIf="errorBoolean"
        style="margin-bottom: 20px; margin-left: 1.5%;"
      ></nz-alert>
      <div class="btn">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
