@import "../../../../scss/variables";
@import "../../../../scss/mixin.scss";

.about-us {
  width: 1280px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 60px;
  height: 700px;

  @include rwdm(1600) {
    width: 1280px;
  }

  @include rwd(1600) {
    width: 985px;
  }

  &__title {
    font-size: 24pt;
  }

  &__text {
    padding: 30px 0;
  }

  .company-picture {
    display: flex;
    flex-wrap: wrap;
    width: 660px;

    &__image {
      width: 200px;
      height: 200px;
      margin: 10px;
    }
  }
}
