@import '../../../../scss/variables';
@import '../../../../scss/mixin.scss';

.about-us {
  width: 1280px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 60px;
  margin-bottom: 30px;
  // height: 630px;

  @include rwdm(1600) {
    width: 1280px;
  }

  @include rwd(1600) {
    width: 985px;
  }

  &__title {
    font-size: 24pt;
  }

  &__text {
    padding: 30px 0 60px;
    text-align: justify;
    word-break: break-word;
    white-space: pre-line;
  }

  .company-picture {
    display: flex;
    flex-wrap: wrap;
    width: 660px;

    &__image {
      width: 200px;
      height: 200px;
      margin: 10px;
      cursor: pointer;
      padding: 5px;
      display: flex;
      align-items: center;
      border: 3px solid $red;
      border-radius: 17px;
    }
  }

  .display {
    display: flex;
    justify-content: space-evenly;
  }

  .chosen-image {
    position: relative;
    background-color: rgba(246, 246, 246, 0.8);
    border-radius: 17px;

    &__image {
      width: 550px;
      height: 590px;
      border: 2px solid $red;
      border-radius: 15px;
      padding: 5px;
      display: flex;
      align-items: center;
    }

    &__close {
      position: absolute;
      top: 11px;
      right: 11px;
      width: 25px;
      text-align: center;
      cursor: pointer;
    }
  }
}
