<div class="loginContainer">
  <div style="padding: 0 0 25px 0">
    <span class="title">{{ 'translate.signin' | translate }}</span>
  </div>
  <div class="data">
    <div class="labels">
      <div class="label">{{ 'translate.email' | translate }}</div>
      <input [(ngModel)]="email" (keydown.enter)="submitForm()" />
    </div>
    <div class="input">
      <div class="label">{{ 'translate.password' | translate }}</div>
      <input
        [(ngModel)]="password"
        type="password"
        (keydown.enter)="submitForm()"
      />
    </div>
  </div>
  <nz-alert
    nzType="error"
    nzMessage="{{ errorMessage }}"
    nzShowIcon
    *ngIf="errorBoolean"
    style="margin-bottom: 20px; margin-bottom: 20px"
  ></nz-alert>
  <div>
    <button class="button button__width" (click)="submitForm()">
      {{ 'translate.submit' | translate }}
    </button>
  </div>
  <div class="lastDiv">
    <div class="textPassword">
      <button class="button__registration" routerLink="/registration">
        {{ 'translate.signup' | translate }}
      </button>
      <span class="forPassword" routerLink="/forgetPassword"
        >{{ 'translate.forgotPassword' | translate }}?</span
      >
    </div>
  </div>
</div>
