@import '../../../scss/variables';
* {
  font-family: $header-font-family;
  color: $darkgrey;
}

.loginContainer {
  background-color: #f6f6f6;
  height: 80vh;
  background-color: #f6f6f6 !important;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24pt;
}

.labels {
  width: 100%;
  display: flex;
  justify-content: inherit;
  flex-direction: column;
  padding: 0 0 15px 0;
}

.input {
  width: 100%;
  display: flex;
  justify-content: inherit;
  flex-direction: column;
}

.data {
  display: flex;
  width: 400px;
  height: 120px;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  border: 1px solid $border-gray;
  border-radius: 25px;
  padding-left: 15px;
  font-size: 20px;
  height: 41px;
}

.label {
  padding: 0 0 0 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.signInButton {
  margin-top: 20px;
  background-color: $red;
  height: 35px;
  width: 180px;
  border: 1px solid;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  cursor: pointer;

  &:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
  }
}

.emptyDiv {
  width: 15%;
}

.lastDiv {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.textPassword {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUpButton {
  background-color: white;
  border: 1px solid $border-gray;
  border-radius: 15px;
  color: $darkgrey;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px 30px;

  &:hover {
    color: $red;
  }
}

.forPassword {
  cursor: pointer;
  color: $red;

  &:hover {
    text-decoration: underline;
  }
}
