<div class="card" *ngFor="let ad of ads; let i = index">
  <div class="card__hover">
    <div class="card__image" [routerLink]="['/ad', ad.id]">
      <img style="width: 100%" [src]="ad.image[0]" />
    </div>
    <div class="card__body" [routerLink]="['/ad', ad.id]">
      <label class="card__body--label">{{ ad.productName }}</label>
      <div class="card_line"></div>
      <div class="card__description">
        <label class="card__description--label">{{ ad.description }}</label>
      </div>
    </div>
    <div class="card__links">
      <div class="card__pricetag">
        <label class="card__pricetag--label"
          >{{ ad.price | number: '1.2-2':'en-US' }} CHF</label
        >
      </div>
      <div>
        <mat-icon
          style="color: #d62b1f"
          *ngIf="!token"
          pTooltip="{{
            'translate.pleaseLoginBeforeYouAddThisAd' | translate
          }}!"
          tooltipPosition="bottom"
          aria-label="Example icon-button with a heart icon"
        >
          favorite_border
        </mat-icon>
        <button mat-icon-button *ngIf="token" [disableRipple]="true">
          <mat-icon
            (click)="ad.favourite = !ad.favourite"
            *ngIf="ad.favourite"
            (click)="removeFromWishlist(ad)"
            aria-label="Example icon-button with a heart icon"
          >
            favorite
          </mat-icon>
          <mat-icon
            *ngIf="!ad.favourite"
            (click)="ad.favourite = !ad.favourite"
            (click)="addToWishlist(ad)"
            aria-label="Example icon-button with a heart icon"
          >
            favorite_border
          </mat-icon>
        </button>
      </div>
      <span class="card__date">{{ ad.adsDate | date }}</span>
    </div>
  </div>
</div>
