<!--<div class="cards">-->
<!--  <p-carousel-->
<!--    [value]="randomAds"-->
<!--    [numVisible]="3"-->
<!--    [numScroll]="1"-->
<!--    [circular]="false"-->
<!--  >-->
<!--    <ng-template let-ad pTemplate="item">-->
<!--      <div-->
<!--        style="-->
<!--                  padding: '5px';-->
<!--                  background-color: #f6f6f6;-->
<!--                  padding: 10px !important;-->
<!--                  width: 90%;-->
<!--                  height: 100%;-->
<!--                "-->
<!--      >-->
<!--        <div-->
<!--          style="-->
<!--                    background-color: white;-->
<!--                    cursor: pointer;-->
<!--                    padding: 10px;-->
<!--                  "-->
<!--          class="cardHover"-->
<!--        >-->
<!--          <div class="image" [routerLink]="['/ad', ad.id]">-->
<!--            <img src="Card" [src]="ad.image[0]" />-->
<!--          </div>-->
<!--          <div class="cardBody" [routerLink]="['/ad', ad.id]">-->
<!--            <div class="bodyLabel">-->
<!--              <label style="font-size: 20px; font-weight: bolder;">{{-->
<!--                ad.productName-->
<!--                }}</label>-->
<!--            </div>-->
<!--            <div class="adLine"></div>-->
<!--            <div class="description">-->
<!--              <label style="font-size: 12px;">{{-->
<!--                ad.description-->
<!--                }}</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="footer">-->
<!--            <div class="pricetag">-->
<!--              <label>{{ ad.price | number:'1.2-2':'en-US'   }} CHF</label>-->
<!--            </div>-->
<!--            <div>-->
<!--              <mat-icon-->
<!--                *ngIf="!token"-->
<!--                pTooltip="{{-->
<!--                          'translate.pleaseLoginBeforeYouAddThisAd' | translate-->
<!--                        }}!"-->
<!--                tooltipPosition="bottom"-->
<!--                aria-label="Example icon-button with a heart icon"-->
<!--              >-->
<!--                favorite_border-->
<!--              </mat-icon>-->
<!--              <button-->
<!--                mat-icon-button-->
<!--                (click)="ad.favourite = !ad.favourite"-->
<!--                *ngIf="token"-->
<!--              >-->
<!--                <mat-icon-->
<!--                  *ngIf="ad.favourite"-->
<!--                  (click)="removeFromWishlist(ad.id)"-->
<!--                  aria-label="Example icon-button with a heart icon"-->
<!--                >-->
<!--                  favorite-->
<!--                </mat-icon>-->
<!--                <mat-icon-->
<!--                  *ngIf="!ad.favourite"-->
<!--                  (click)="addToWishlist(ad.id)"-->
<!--                  aria-label="Example icon-button with a heart icon"-->
<!--                >-->
<!--                  favorite_border-->
<!--                </mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--            <span style="color: black;">{{ ad.adsDate | date }}</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </p-carousel>-->
<!--</div>-->
<div id="container">
    <div ng2-carouselamos class="slides-wrapper" [items]="randomAds" [width]="850" [$prev]="prev" [$next]="next" [$item]="item">
    </div>
    <ng-template #prev>
        <img src="../../../../assets/images/buttons/arrow round left.png" style="cursor: pointer;" id="left" />
    </ng-template>
    <ng-template #next>
        <img src="../../../../assets/images/buttons/arrow round right.png" style="cursor: pointer;" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">
        <div class="slide-items">
            <div style="
                  padding: '5px';
                  background-color: #f6f6f6;
                  padding: 10px !important;
                  width: 100%;
                  height: 100%;
                ">
                <div style="
                    background-color: white;
                    cursor: pointer;
                    padding: 10px;
                  " class="cardHover">
                    <div class="image" (mousedown)="goToAd($event, item.id)">
                        <img src="Card" [src]="item.image[0]" />
                    </div>
                    <div class="cardBody" [routerLink]="['/ad', item.id]">
                        <div class="bodyLabel">
                            <label style="font-size: 20px; font-weight: bolder;">{{
                item.productName
                }}</label>
                        </div>
                        <div class="adLine"></div>
                        <div class="description">
                            <label style="font-size: 12px;">{{
                item.description
                }}</label>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="pricetag">
                            <label>{{ item.price | number:'1.2-2':'en-US'   }} CHF</label>
                        </div>
                        <div>
                            <mat-icon *ngIf="!token" pTooltip="{{
                          'translate.pleaseLoginBeforeYouAddThisAd' | translate
                        }}!" tooltipPosition="bottom" aria-label="Example icon-button with a heart icon">
                                favorite_border
                            </mat-icon>
                            <button mat-icon-button (click)="item.favourite = !item.favourite" *ngIf="token">
                <mat-icon
                  *ngIf="item.favourite"
                  (click)="removeFromWishlist(item.id)"
                  aria-label="Example icon-button with a heart icon"
                >
                  favorite
                </mat-icon>
                <mat-icon
                  *ngIf="!item.favourite"
                  (click)="addToWishlist(item.id)"
                  aria-label="Example icon-button with a heart icon"
                >
                  favorite_border
                </mat-icon>
              </button>
                        </div>
                        <span style="color: black;">{{ item.adsDate | date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<!-- <owl-carousel [options]="carouselOptions" [items]="randomAds" [carouselClasses]="['owl-theme', 'row', 'sliding']">

    <div class="item" *ngFor="let item of randomAds;let i= index">
        <div style="
      padding: '5px';
      background-color: #f6f6f6;
      padding: 10px !important;
      width: 90%;
      height: 100%;
    ">
            <div style="
        background-color: white;
        cursor: pointer;
        padding: 10px;
      " class="cardHover">
                <div class="image" [routerLink]="['/ad', item.id]">
                    <img src="Card" [src]="item.image[0]" />
                </div>
                <div class="cardBody" [routerLink]="['/ad', item.id]">
                    <div class="bodyLabel">
                        <label style="font-size: 20px; font-weight: bolder;">{{
    item.productName
    }}</label>
                    </div>
                    <div class="adLine"></div>
                    <div class="description">
                        <label style="font-size: 12px;">{{
    item.description
    }}</label>
                    </div>
                </div>
                <div class="footer">
                    <div class="pricetag">
                        <label>{{ item.price | number:'1.2-2':'en-US'   }} CHF</label>
                    </div>
                    <div>
                        <mat-icon *ngIf="!token" pTooltip="{{
              'translate.pleaseLoginBeforeYouAddThisAd' | translate
            }}!" tooltipPosition="bottom" aria-label="Example icon-button with a heart icon">
                            favorite_border
                        </mat-icon>
                        <button mat-icon-button (click)="item.favourite = !item.favourite" *ngIf="token">
    <mat-icon
      *ngIf="item.favourite"
      (click)="removeFromWishlist(item.id)"
      aria-label="Example icon-button with a heart icon"
    >
      favorite
    </mat-icon>
    <mat-icon
      *ngIf="!item.favourite"
      (click)="addToWishlist(item.id)"
      aria-label="Example icon-button with a heart icon"
    >
      favorite_border
    </mat-icon>
  </button>
                    </div>
                    <span style="color: black;">{{ item.adsDate | date }}</span>
                </div>
            </div>
        </div>
    </div>
</owl-carousel> -->
<!-- You can now use your library component in app.component.html -->