<div class="container">
  <div *ngFor="let ad of ads" class="card">
    <div class="image">
      <img src="../../../../assets/images/myAccount/Image car _ delete.png" />
    </div>
    <div class="text">
      <div class="text__link">
        <div class="text__title">{{ ad.title }}</div>
      </div>
      <hr />
      <div class="text__link">
        <div class="text__body">{{ ad.text }}</div>
      </div>
      <div class="text__body-price">
        <div class="text__price">
          <div>{{ ad.price | number: ".2-2" }} CHF</div>
        </div>
        <div class="text__day">
          <div>{{ ad.days }}</div>
        </div>
      </div>
    </div>
    <div class="amount">
      <img src="../../../../assets/images/myAccount/money icon.png" />
    </div>
  </div>
</div>
