<div class="main--container">
    <div class="container">
        <div class="under--container">
            <span class="title" *ngIf="most">
        {{ 'translate.mostWanted' | translate }}</span
      >
      <span class="title" *ngIf="unused">
        {{ 'translate.unused' | translate }}</span
      >
      <span class="title" *ngIf="advertised">
        {{ 'translate.freshlyAdvertised' | translate }}</span
      >
    </div>
  </div>
  <div class="no--ads-container" *ngIf="">
    <h1>{{ 'translate.noAvailableAds' | translate }}</h1>
  </div>
  <div class="favorites">
    <div class="favorites__box">
      <div class="favorites__line--card">
        <app-ads-card-detail
          *ngIf="most"
          [ads]="mostWanted$ | async"
          class="favorites__favorite--ads"
        ></app-ads-card-detail>
        <app-ads-card-detail
          *ngIf="unused"
          [ads]="unusedAds$ | async"
          class="favorites__favorite--ads"
        ></app-ads-card-detail>
        <app-ads-card-detail
          *ngIf="advertised"
          [ads]="advertisedAds$ | async"
          class="favorites__favorite--ads"
        ></app-ads-card-detail>
      </div>
    </div>
  </div>
  <div class="increaseButtonClass" *ngIf="!buttonHide">
    <button class="show--more" mat-button (click)="increaseShow()">
      {{ 'translate.showMore' | translate }}
    </button>
  </div>
</div>