<app-header class="header"></app-header>
<div class="loginContainer">
    <div class="mainContainer">
        <div class="titleDiv">
            <span class="title">{{'translate.updateInfo' | translate}}</span
      >
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/company.png" />
      <input placeholder="{{'translate.company' | translate}}" [(ngModel)]="newUser.company" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/name.png" />
      <input placeholder="{{'translate.firstName' | translate}}" [(ngModel)]="newUser.name" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/surname.png" />
      <input placeholder="{{'translate.surname' | translate}}" [(ngModel)]="newUser.surname" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/email.png" />
      <input placeholder="{{'translate.email' | translate}}" [(ngModel)]="newUser.email" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/website.png" />
      <input placeholder="{{'translate.website' | translate}}" [(ngModel)]="newUser.website" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/phone.png" />
      <input placeholder="{{'translate.phone' | translate}}" [(ngModel)]="newUser.phone" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/mobile.png" />
      <input placeholder="{{'translate.mobile' | translate}}" [(ngModel)]="newUser.mobile" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/address.png" />
      <input placeholder="{{'translate.address' | translate}}" [(ngModel)]="newUser.address" />
    </div>
    <div class="textItem">
      <label>{{'translate.aboutUs' | translate}}:</label>
      <textarea rows="8" [(ngModel)]="newUser.aboutUs"></textarea>
    </div>
    <div class="imagesDiv">
      <label>{{'translate.picturesOfCompany' | translate}}:</label>
      <div class="clearfix">
        <nz-upload
          nzAction="https://jsonplaceholder.typicode.com/posts/"
          nzListType="picture-card"
          [nzShowButton]="fileList.length < 3"
          [(nzFileList)]="fileList"
        >
          <i nz-icon nzType="plus"></i>
          <div class="ant-upload-text">Upload</div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>
    </div>
    <div class="locationInput">
      <nz-form-control>
        <nz-select nzShowSearch="true">
          <nz-option nzValue="" nzLabel="Region" selected disabled></nz-option>
          <nz-option
            *ngFor="let canton of cantons"
            nzLabel="{{ canton }}"
            nzValue="newUser.location"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>
  <button class="signInButton" (click)="onSubmit()">{{'translate.saveChanges' | translate}}</button>
</div>
