@import '../../../scss/variables';
@import '../../../scss/mixin.scss';

* {
  font-family: $header-font-family;
  color: $darkgrey;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::placeholder {
  color: $text-gray;
}

.container {
  background-color: #f6f6f6;
  width: 100vw;
}

input,
select,
textarea {
  width: 480px;
  height: 40px;
  padding: 0 15px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-left: 10px;
  border: 1px solid $border-gray;
  color: $text-gray;
  font-size: 17px;
}

.business {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
  @include rwd(1600) {
    width: 985px;
  }

  &__title {
    font-size: 24pt;
    padding-bottom: 20px;
  }
}

.form {
  width: 600px;
  margin: 0 auto;

  &__inputItem {
    position: relative;
    padding: 0 0 25px 0;

    &--margin {
      margin-left: 45px;
    }
  }

  &__password {
    color: #d62b1f;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 35px;
  }

  &__textarea {
    height: 220px;
    resize: none;
    margin-left: 55px;
    padding: 5px 10px 5px 18px;
  }

  &__index {
    position: absolute;
    top: 11px;
    right: 11px;
    font-weight: bolder;
    color: $white;
    width: 20px;
    height: 20px;
    background-color: $red;
  }

  &__label {
    display: flex;
    margin-left: 107px;
    padding: 0px 0 5px;
    font-size: 17px;
  }

  &__picture {
    border: 1px solid;
    border-radius: 15px;
    border-color: $border-gray;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 325px;
    margin-left: 86px;
  }

  &__image {
    width: 132px;
    height: 132px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
  }

  &__upload--image {
    height: 152px;
    width: 152px;
    position: relative;
    cursor: move;

    &--image-input {
      height: 100px;
      width: 100px;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__svg-image {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__svg {
    position: relative;
    margin: 0 0 100px 0;
  }

  &__delete {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 132px;
    height: 132px;
    &:hover {
      position: absolute;
      width: 132px;
      height: 132px;
      background-color: rgba(128, 128, 128, 0.65);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    &:hover .form__delete-label {
      display: block;
    }
  }

  &__delete-label {
    display: none;
    color: white;
    cursor: move;
  }

  &__input--upload {
    width: 120px;
  }

  &__select {
    width: 480px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
    background-image: url('../../../assets/images/update-info-bussines/arrow menu.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 445px 8px;
  }
}

a {
  color: $red;
  font-weight: bold;
  position: absolute;
  right: 50px;
}

.btn {
  text-transform: capitalize;
}
