<app-header class="header"></app-header>
<div class="loginContainer">
  <div class="mainContainer">
    <div class="titleDiv">
      <span class="title"
        >Update <span style="color: #d62b1f;">info</span></span
      >
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/company.png" />
      <input placeholder="Company" [(ngModel)]="newUser.company" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/name.png" />
      <input placeholder="Name" [(ngModel)]="newUser.name" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/surname.png" />
      <input placeholder="Surname" [(ngModel)]="newUser.surname" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/email.png" />
      <input placeholder="Email" [(ngModel)]="newUser.email" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/website.png" />
      <input placeholder="Website" [(ngModel)]="newUser.website" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/phone.png" />
      <input placeholder="Phone" [(ngModel)]="newUser.phone" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/mobile.png" />
      <input placeholder="Mobile" [(ngModel)]="newUser.mobile" />
    </div>
    <div class="inputItem">
      <img src="../../../assets/images/update-info-bussines/address.png" />
      <input placeholder="Address" [(ngModel)]="newUser.address" />
    </div>
    <div class="textItem">
      <label>About us:</label>
      <textarea rows="8" [(ngModel)]="newUser.aboutUs"></textarea>
    </div>
    <div class="imagesDiv">
      <label>Pictures of company:</label>
      <div class="clearfix">
        <nz-upload
        nzAction="https://jsonplaceholder.typicode.com/posts/"
        nzListType="picture-card"
        [nzShowButton]="fileList.length < 3"
        [(nzFileList)]="fileList"
      >
        <i nz-icon nzType="plus"></i>
        <div class="ant-upload-text">Upload</div>
      </nz-upload>
      <nz-modal
        [nzVisible]="previewVisible"
        [nzContent]="modalContent"
        [nzFooter]="null"
        (nzOnCancel)="previewVisible = false"
      >
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
        </ng-template>
      </nz-modal>
      </div>
    </div>
    <div class="locationInput">
      <nz-form-control>
        <nz-select nzShowSearch="true" >
          <nz-option
            nzValue=""
            nzLabel="Region"
            selected
            disabled
          ></nz-option>
          <nz-option
            *ngFor="let region of regions"
            nzLabel="{{ region }}"
            nzValue="newUser.location"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>
  <button class="signInButton" (click)="onSubmit()">Save changes</button>
</div>
