<app-header class="header"></app-header>
<div class="container">
  <div class="business">
    <div class="business__title">
      <span>Update <span style="color: #d62b1f;">info</span></span>
    </div>
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="businessForm">
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/company.png" />
        <input
          placeholder="{{ 'translate.company' | translate }}"
          formControlName="company"
        />
      </div>
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/name.png" />
        <input
          placeholder="{{ 'translate.nameFirst' | translate }}"
          formControlName="name"
        />
      </div>
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/surname.png" />
        <input
          placeholder="{{ 'translate.surname' | translate }}"
          formControlName="surname"
        />
      </div>
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/email.png" />
        <input
          placeholder="{{ 'translate.email' | translate }}"
          formControlName="email"
        />
      </div>
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/website.png" />
        <input
          placeholder="{{ 'translate.website' | translate }}"
          formControlName="website"
        />
      </div>
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/phone.png" />
        <input
          placeholder="{{ 'translate.phone' | translate }}"
          formControlName="phone"
        />
      </div>
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/mobile.png" />
        <input
          placeholder="{{ 'translate.mobile' | translate }}"
          formControlName="mobile"
        />
      </div>
      <div class="form__inputItem">
        <img src="../../../assets/images/update-info-bussines/address.png" />
        <input
          placeholder="{{ 'translate.address' | translate }}"
          formControlName="address"
        />
      </div>
      <div class="form__inputItem form__inputItem--margin">
        <div class="form__location">
          <select class="form__select" formControlName="canton">
            <option *ngFor="let canton of cantons" [value]="canton">
              {{ canton }}
            </option>
          </select>
        </div>
      </div>
      <div class="form__inputItem form__inputItem--margin">
        <div class="locationInput locationInput--margin">
          <select class="form__select" formControlName="city">
            <option *ngFor="let city of cities" [value]="city">{{
              city
            }}</option>
          </select>
        </div>
      </div>
      <div class="form__inputItem">
        <a class="form__password" (click)="goTo('/change-password')"
          >{{ 'translate.changePassword' | translate }}?</a
        >
      </div>
      <div class="form__inputItem">
        <label class="form__label"
          >{{ 'translate.aboutUs' | translate }}:</label
        >
        <textarea
          class="form__textarea"
          formControlName="aboutUs"
          maxlength="2000"
        ></textarea>
      </div>
      <div class="form__inputItem">
        <label class="form__label"
          >{{ 'translate.picturesOfCompany' | translate }}:</label
        >
        <div class="form__picture">
          <div
            class="form__upload--image"
            *ngFor="let companyPhoto of companyPhotos; let i = index"
          >
            <img [src]="companyPhoto" class="form__image" />
            <div
              class="form__delete"
              (click)="deleteStoragedPhoto(companyPhoto, i)"
            >
              <label class="form__delete-label">{{'translate.deletePhoto' | translate }}</label>
            </div>
          </div>
          <div
            class="form__upload--image"
            *ngFor="let photo of photos; let j = index"
          >
            <img [src]="photo" class="form__image" />
            <div class="form__delete" (click)="deletePhoto(j)">
              <label class="form__delete-label">{{'translate.deletePhoto' | translate }}</label>
            </div>
          </div>
          <div
            class="form__svg"
            *ngIf="photos.length + companyPhotos.length < 6"
          >
            <div
              class="form__svg-image"
              [inlineSVG]="
                '../../../assets/images/update-info-bussines/add-photo.svg'
              "
            ></div>
            <div>
              <input
                class="form__upload--image form__upload--image--image-input"
                (change)="uploadImage($event)"
                accept="image/*"
                type="file"
                multiple="multiple"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="form__inputItem">
        <button class="form__button" type="submit">
          {{ 'translate.saveChanges' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
