@import '../../../scss/variables';
@import '../../../scss/mixin.scss';

.mainContainer {
  width: 100vw;
  height: auto;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .container {
    width: 70%;
    height: 300px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    @include rwdm(1600) {
      width: 1280px;
    }

    @include rwd(1600) {
      width: 985px;
    }

    @include xl {
      width: 985px;
    }

    .account {
      height: 250px;
      display: flex;
      flex-direction: row;

      .image {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 160px;

        @include rwd(1600) {
          padding: 0 0 0 150px;
        }

        .imageBorder {
          border-radius: 20px;
        }
        span {
          font-size: 18pt;
          margin-top: 10px;
        }
      }
    }

    .navigation {
      height: 50px;
      background-color: $red;
    }
  }
}

.profil-image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 160px 160px;
  width: 160px;
  height: 160px;
  border-radius: 17px;
  border: 2px solid $red;
}

.profil-name {
  height: 36px;
}

.body {
  width: 100%;

  .checkmarks {
    display: flex;
    justify-content: space-between;
    padding: 35px 150px 0 184px;
    height: 20%;
    align-items: center;

    @include rwd(1600) {
      padding: 35px 115px 0 120px;
    }
  }
}

.boxes {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 142px 170px 0 180px;

  @include rwd(1600) {
    padding: 142px 140px 0 130px;
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
  }

  &__link {
    cursor: pointer;
    width: 80px;
    text-align: center;
  }

  &__text {
    margin: 19px 0 0;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.iconBox {
  display: flex;

  &__email {
    line-height: 40px;
    padding: 0 0 0 10px;
    width: 150px;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
}

.photo {
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  .navItem {
    width: 20% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    color: white;
  }
}

.focus {
  height: 100%;
  width: 120px;
  display: flex;
  padding: 20px 0 0 0;
  justify-content: center;
  flex-direction: row;

  &:hover {
    cursor: pointer;
  }
}

.active {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: white;
  height: 40px;
  margin-top: 11px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;

  span {
    color: $red;
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
  }
}

.secondContainer {
  padding: 0 0 150px 0;
}
