<app-header class="header"></app-header>
<div class="mainContainer">
  <div class="container">
    <div class="account">
      <div class="image">
        <div class="imageBorder">
          <div
            class="profil-image"
            [style.backgroundImage]="'url(' + sellerImage + ')'"
          ></div>
        </div>
        <span class="profil-name" *ngIf="business">{{ sellerCompany }}</span>
        <span class="profil-name" *ngIf="private">{{ sellerName }}</span>
      </div>
      <div class="body">
        <!-- <div class="checkmarks">
          <div>
            <img src="../../../assets/images/myAccount/check box.png" />
            <span style="padding-left: 10px;">checked user</span>
          </div>
          <div>
            <img src="../../../assets/images/myAccount/check box.png" />
            <span style="padding-left: 10px;">approved phone</span>
          </div>
          <div>
            <img src="../../../assets/images/myAccount/check box.png" />
            <span style="padding-left: 10px;">successful sales</span>
          </div>
        </div> -->
        <div class="boxes">
          <div class="iconBox">
            <div class="phoneImage">
              <img
                src="../../../assets/images/update-info-bussines/phone.png"
              />
            </div>
            <div class="phone">
              <div>{{ sellerPhone }}</div>
              <div>{{ sellerMobile }}</div>
            </div>
          </div>
          <div class="iconBox" (click)="toggleEmail()">
            <div class="phoneImage">
              <img
                class="photo"
                src="../../../assets/images/update-info-bussines/email.png"
              />
            </div>
            <div class="iconBox__email">
              <span *ngIf="email">{{ sellerEmail }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="navItem" (click)="activeButton()">
        <div [ngClass]="{ active: active, focus: !active }">
          <span>{{ 'translate.active' | translate }}</span>
        </div>
      </div>
      <div class="navItem" (click)="soldButton()">
        <div [ngClass]="{ active: sold, focus: !sold }">
          <span>{{ 'translate.sold' | translate }}</span>
        </div>
      </div>
      <div class="navItem" (click)="aboutButton()">
        <div [ngClass]="{ active: about, focus: !about }">
          <span>{{ 'translate.aboutUs' | translate }} </span>
        </div>
      </div>
      <div class="navItem" (click)="infoButton()">
        <div [ngClass]="{ active: info, focus: !info }">
          <span>Info</span>
        </div>
      </div>
      <div class="navItem" (click)="guestButton()">
        <div [ngClass]="{ active: guest, focus: !guest }">
          <span>{{ 'translate.guestBook' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="secondContainer">
    <app-active-seller
      [activeProducts]="activeProducts"
      [ads]="adsActive"
      *ngIf="active"
    ></app-active-seller>
    <app-aboutus-seller *ngIf="about"></app-aboutus-seller>
    <app-guestbook-seller
      [CommentsOfUser]="CommentsOfUser"
      (guestBook)="guestBook()"
      *ngIf="guest"
    ></app-guestbook-seller>
    <app-sold-seller
      [soldProducts]="soldProducts"
      [ads]="adsSold"
      *ngIf="sold"
    ></app-sold-seller>
    <app-info-seller *ngIf="info"></app-info-seller>
  </div>
</div>
