<div class="container">
  <div class="ads" *ngIf="ads === true">
    <div class="ads__text">
      You have not any sold ads
    </div>
  </div>
  <div *ngIf="ads === false">
    <div *ngFor="let ad of soldProducts[0]; let i = index" class="card">
      <div class="image">
        <img class="image__sold" [src]="ad.image[0]" />
      </div>
      <div class="text">
        <div class="text__link">
          <div class="text__title">{{ ad.productName }}</div>
        </div>
        <hr />
        <div class="text__link">
          <div class="text__body">{{ ad.description }}</div>
        </div>
        <div class="text__body-price">
          <div class="text__price">
            <div>{{ ad.price | number: '.2-2' }} CHF</div>
          </div>
          <div class="text__day">
            <div>{{ ad.soldDate | date: 'medium' }}</div>
          </div>
        </div>
      </div>
      <div class="sold">
        {{'translate.sold' | translate}}
      </div>
    </div>
  </div>
</div>
