@import '../../../scss/variables';
@import '../../../scss/mixin.scss';

* {
  color: $darkgrey;
  outline: none;
}

.container {
  padding: 50px 0;
  width: 100vw;
  background-color: $lightgrey;
  display: flex;
  align-items: flex-start;
  min-height: 80vh;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .underContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 24pt;
      padding-bottom: 40px;
    }
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 200px;
  .categoriesContainer {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }
  .titleContainer {
    width: 70%;
  }
}

button {
  .tab-icon {
    padding: 5px 25px;
    padding-bottom: 5px;
  }
  &:focus {
    .icon-not-active {
      display: none;
    }
    .icon-active {
      display: inline;
    }
  }
  .icon-not-active {
    display: inline;
  }
  .icon-active {
    display: none;
  }
  span {
    margin-top: 20px;
  }
}

.categoryContainer {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 40px;
  img {
    height: 59px;
    width: 58px;
  }
}

.arrow {
  border: none;
  background: none;
  img {
    height: 59px;
    width: 58px;
    cursor: pointer;
  }
}

.category {
  height: 100%;
  width: 50%;

  &__button {
    height: 100%;
    background: none;
    border: none;
  }

  &__tab-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    cursor: pointer;
  }
}

.no--ads--container {
  h1 {
    color: $red;
  }
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1024px;
  height: auto;
  &__tag {
    width: 112px;
    background-color: $white;
    border: 1px solid $border-gray;
    color: $darkgrey;
    padding: 9px 5px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
  }
  &__tag::first-letter {
    text-transform: capitalize;
  }
}

.active {
  background-color: $red;
  color: $white;
}

.favorites {
  margin-bottom: 50px;
  width: 1024px;

  img {
    width: 100%;
  }

  &__line--card {
    display: flex;
    height: auto;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 50px;
    flex-wrap: wrap;

    img {
      width: 100%;
    }
  }

  &__favorite--ads {
    display: flex;
    flex-wrap: wrap;
  }
}

.increaseButtonClass {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
