//Colors

$white: #ffffff;
$lightgrey: #f6f6f6;
$lightgray-second: #e1e1e1;
$lightgray-third: #959595;
$darkgrey: #4d4d4d;
$red: #d62b1f;
$border-gray: #e6e6e6;

// Header
$header-font-color: #4d4d4d;
$header-font-size: 20pt;
$header-font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

//Footer
$footer-font-color: $darkgrey;
$footer-font-size: 16pt;
$footer-font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

//Search
$search-font-color: #4d4d4d;
$search-font-color-second: ligh;
$search-font-size: 16pt;
$search-font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
