<div class="container" (wheel)="onMouseWheel($event)">
  <div class="under--container">
    <span class="title" style="padding-bottom: 40px">{{
      'translate.filteredAds' | translate
    }}</span>
  </div>
  <div class="favorites">
    <div class="favorites__line--card">
      <app-ads-card-detail
        [ads]="favAds"
        (addWishlist)="addToWishlist($event)"
        (removeWishlist)="removeFromWishlist($event)"
        class="favorites__favorite--ads"
      ></app-ads-card-detail>
    </div>
  </div>
  <div class="increaseButtonClass" *ngIf="disableButton">
    <button class="show--more" mat-button (click)="increaseShow()">
      {{ 'translate.showMore' | translate }}
    </button>
  </div>
</div>
