@import "../../../../scss/variables";
@import "../../../../scss/mixin.scss";

.container {
  width: 1280px;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;

  @include rwdm(1600) {
    width: 1280px;
  }

  @include rwd(1600) {
    width: 985px;
  }

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  .right {
    width: 50%;
  }
}

.item {
  width: 100%;
  padding-left: 20%;
  height: auto;

  span {
    padding-left: 10px;
  }
}
