@import '../../../../scss/variables';
@import '../../../../scss/mixin.scss';

.info {
  width: 1280px;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;

  @include rwdm(1600) {
    width: 1280px;
  }

  @include rwd(1600) {
    width: 985px;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__right {
    width: 50%;
  }

  &__item {
    width: 100%;
    padding-left: 20%;
    height: auto;

    span {
      padding-left: 10px;
    }
  }

  &__input {
    border: none;
    padding: 0 0 0 10px;
    background-color: $white;
    color: $black;

    &--address {
      width: 400px;
    }
  }
}
