<div class="container">
  <div class="left">
    <div class="item">
      <img src="../../../../assets/images/seller/company.png">
      <span>Sellfactory</span>
    </div>
    <div class="item">
      <img src="../../../../assets/images/seller/name.png">
      <span>Aleksandar</span>
    </div>
    <div class="item">
      <img src="../../../../assets/images/seller/surname.png">
      <span>Radovanovic</span>
    </div>
    <div class="item">
      <img src="../../../../assets/images/seller/email.png">
      <span>info@sellfactory.com</span>
    </div>
    <div class="item">
      <img src="../../../../assets/images/seller/website.png">
      <span>www.sellfactory.com</span>
    </div>
    <div class="item">
      <img src="../../../../assets/images/seller/phone.png">
      <span>+100 3 588 444</span>
    </div>
    <div class="item">
      <img src="../../../../assets/images/seller/mobile.png">
      <span>+100 3 588 444</span>
    </div>
    <div class="item">
      <img src="../../../../assets/images/seller/address.png">
      <span>Falkenstrassw 1, 8008 Zurich, Switzerland</span>
    </div>
  </div>
  <div class="right">
    <iframe
    width="100%"
    height="100%"
    id="gmap_canvas"
    src="https://maps.google.com/maps?q=Route%20de%20la%20Plaine%2028&t=&z=13&ie=UTF8&iwloc=&output=embed"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
></iframe>
  </div>
</div>
