<div class="mobile">
    <div class="mobileHeader">
        <div class="mobileLanguages">
            <img src="../../assets/images/header/EN.png">
            <img src="../../assets/images/header/GE.png">
            <img src="../../assets/images/header/IT.png">
            <img src="../../assets/images/header/FR.png">
        </div>
        <div class="mobileLogo">
            <img src="../../assets/images/header/minibrocki.svg" alt="">
        </div>
    </div>
    <div class="mobileBody">
        <div class="mobileText">
            <label style="text-align: center;">Minibrocki.ch is not currently available on the mobile version.</label>
            <label>Please download the app:</label>
        </div>
        <div class="mobileGoogleImage">
            <img src="../../assets/images/mobileImages/google play.svg" alt="">
        </div>
        <div class="mobileAppleImage">
            <img src="../../assets/images/mobileImages/app store.svg" alt="">
        </div>
    </div>
    <div class="mobileFooter">
        <div class="mobileLeftFooter">
            <label style="text-align: justify;">
            <span>The
            <span style="color: #d62b1f; cursor: pointer;">minibrocki®️ </span>app
            is intended to help Swiss SME retailers as well as second-hand and
            institutions, in today's dynamic market development. Its made to bind
            the customer to the business, win new customers and thus increase
            sales.</span>
          </label>

        </div>
        <div class="mobileRightFooter">
            <img src="../../assets/images/header/minibrocki.svg" alt="">
            <span>Copyright @2020 All rights reserved</span>
            <span>by <span style="color: #d62b1f;">MioSoftware LLC</span></span>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
    <app-footer class="footer"></app-footer>
</div>