<div class="mobile">
    <div class="mobileHeader">
        <div class="mobileLanguages">
            <img src="../../assets/images/header/GE.png" (click)="change('de')" />
            <img src="../../assets/images/header/IT.png" (click)="change('it')" />
            <img src="../../assets/images/header/FR.png" (click)="change('fr')" />
            <img src="../../assets/images/header/EN.png" (click)="change('en')" />

        </div>
        <div class="mobileLogo">
            <img src="../../assets/images/header/minibrocki.svg" alt="" />
        </div>
    </div>
    <div class="mobileBody">
        <div class="mobileText">
            <label style="text-align: center">{{
          'translate.minibrockiMobileText' | translate
        }}</label
      >
    </div>
    <div class="mobileGoogleImage">
      <a href="https://play.google.com/store/apps/details?id=com.miosoftware.minibrocki" style="display: flex;
      justify-content: center;">
        <img src="../../assets/images/mobileImages/google play.svg" alt="" style="cursor: pointer;"/>
      </a>

    </div>
    <div class="mobileAppleImage">
      <a href="https://apps.apple.com/ch/app/minibrocki-ch/id1524479121" style="display: flex;
      justify-content: center;">
        <img src="../../assets/images/mobileImages/app store.svg"  alt="" style="cursor: pointer;"/>
      </a>
    </div>
  </div>
  <div class="mobileFooter">
    <div class="mobileLeftFooter">
      <label style="text-align: justify">
        <span
          >{{ 'translate.minibrockiDescriptionOne' | translate }}
          <span style="color: #d62b1f; cursor: pointer">{{ 'translate.minibrockiDescriptionTwo' | translate }}</span> {{ 'translate.minibrockiDescriptionThree' | translate }}</span
        >
      </label>
        </div>
        <div class="mobileRightFooter">
            <img src="../../assets/images/header/minibrocki.svg" alt="" />
            <span>{{ 'translate.copyrightOne' | translate }}</span>
            <span>{{ 'translate.copyrightTwo' | translate }} <span style="color: #d62b1f">{{ 'translate.copyrightThree' | translate }}</span></span>
        </div>
    </div>
</div>
<div class="container">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer class="footer"></app-footer>
</div>