<app-header class="header"></app-header>
<div class="loginContainer">
  <div class="mainContainer">
    <div class="titleDiv">
      <span class="title"
        >Update <span style="color: #d62b1f;">info</span></span
      >
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="itemForm">
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/name.png" />
        <input placeholder="Name" formControlName="name" />
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/surname.png" />
        <input placeholder="Surname" formControlName="surname" />
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/email.png" />
        <input placeholder="Email" formControlName="email" />
      </div>

      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/phone.png" />
        <input placeholder="Phone" formControlName="phone" />
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/mobile.png" />
        <input placeholder="Mobile" formControlName="mobile" />
      </div>
      <div class="inputItem">
        <img src="../../../assets/images/update-info-bussines/address.png" />
        <input placeholder="Address" formControlName="address" />
      </div>
      <div class="inputItem">
        <div class="locationInput locationInput--margin">
          <select class="select-city" formControlName="canton">
            <option value="" selected disabled>Canton</option>
            <option *ngFor="let canton of cantons" [value]="canton">
              {{ canton }}
            </option>
          </select>
        </div>
      </div>
      <div class="inputItem">
        <div class="locationInput locationInput--margin">
          <select class="select-city" formControlName="city">
            <option value="" selected disabled>City</option>
            <option *ngFor="let city of cities" [value]="city">{{
              city
            }}</option>
          </select>
        </div>
      </div>
      <div class="inputItem">
        <a (click)="changePassword()">Change password?</a>
      </div>

      <div class="inputItem">
        <button class="signInButton" type="submit">
          Save changes
        </button>
      </div>
    </form>
  </div>
</div>
