<div class="page">
    <div class="email">
        <div class="email__title">
            {{ 'translate.reportAd' | translate }}
        </div>
        <div class="email__body">
            <div class="email__message">
                <label class="email__label">{{
          'translate.message' | translate
        }}</label>
                <div>
                    <textarea class="email__textarea" type="text" [(ngModel)]="reasonMessage"></textarea>
                </div>
            </div>
        </div>
        <div class="email__buttons">
            <button class="email__button" type="button" (click)="closeModal()">
        {{ 'translate.close' | translate }}
      </button>
            <button class="email__button email__button--primary" (click)="onSubmitReport()">
        {{ 'translate.send' | translate }}
      </button>
        </div>
        <div class="email__close" (click)="closeModal()" [inlineSVG]="'../../../assets/images/buttons/close.svg'"></div>
    </div>
</div>